<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <add name="ModelPostCommentContainer"
   connectionString="Data Source=DESKTOP-D9OD4C5;Initial Catalog=DB;Integrated Security=True" />
  </connectionStrings>
  <system.serviceModel>
    
  </system.serviceModel>
</configuration>
